bin/
obj/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

.vscode

msbuild.log
msbuild.err
msbuild.wrn
msbuild.*

.git/
.gitattributes

*.log
*.mdf
*.ldf
*.ndf

*.tlog
*.csproj.user

.idea/
*.DotSettings.user

*.dll
*.exe
*.log
*.pdb
*.cache
*.ilk
*.obj
*.gen.cs
*.h
*.idb
*.ipch
/.vs
